/*https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_image_gallery*/

@charset"utf-8";
body{
	background-image: linear-gradient( lightblue, white);
	font-family: 'Bad Script', cursive;
}
#bg{
	margin-top: 0px;
	margin-left: 0px;
	z-index: -1;
}

#photo-name a{
	text-decoration: none;
	color: black;


}

#photo{
	margin-top: 60px;
	display:flex;
	align-items: center;
	justify-content: space-around;
}

#photo img{
	border:white;
	border-radius: 150px;
}

#icons{
	display:flex;
	align-items: center;
	justify-content: center;
}
 #icons div{
 	padding-left:35px ;
 	padding-right:35px;
 	padding-bottom: 20px;
 }

 #name{
 	text-align: center;
 	padding-top: 0px;
 	padding-bottom: 0px;

 }

#imagesbox{
	display:flex;
	justify-content: center;
}

#images{
	display:inline-block;
	column-count: 3;
	column-gap: 20px;
	width:1200px;
	background-color:white;
	border:solid white 20px;
}

#images img{
	width:100%;
	margin-bottom:20px;
	
}
/*SE a janela estiver menor que 1000px fica com menos uma coluna*/
@media screen and (max-width:800px){
	#images{
		column-count:2;
		width:680;
	}
}
/*SE a janela estiver menor que 680px fica com menos uma coluna*/
@media screen and (max-width:800px){
	#images{
		column-count:1;
		width:340px;
	}
}